html {
  font-size:62.5%;
}

body {
  background-color:#E8E8E8;
}

#instruction {
  position:fixed;
  right:10px;
  padding:10px;
}

#instruction h1 {
  color:#606060;
  font-weight:normal;
  font-size:1.5rem;
}

#container {
  width:50vw;
  display:grid;
  grid-template-columns: repeat(3,30rem);
  grid-template-rows: repeat(3,30rem);
}

.page {
    overflow: hidden;
    font-size: 2rem;
    border: 1px solid #606060;
    line-height: 2rem;
    border-radius: 50%;
    cursor:pointer;
}

#one {
  animation:color1;
  animation-duration:1s;
}

@keyframes color1 {
  0%   {background-color:#606060; }
  100% {background-color:#E8E8E8; }
}

#two {
  animation:color2;
  animation-duration:1s;
  animation-delay:0.5s;
}

@keyframes color2 {
  0%   {background-color:#606060; }
  100% {background-color:#E8E8E8; }
}

#three {
  animation:color3;
  animation-duration:1s;
  animation-delay:1s;
}

@keyframes color3 {
  0%   {background-color:#606060; }
  100% {background-color:#E8E8E8; }
}

#four {
  animation:color4;
  animation-duration:1s;
  animation-delay:1.5s;
}

@keyframes color4 {
  0%   {background-color:#606060; }
  100% {background-color:#E8E8E8; }
}

#five {
  animation:color5;
  animation-duration:1s;
  animation-delay:2s;
}

@keyframes color5 {
  0%   {background-color:#606060; }
  100% {background-color:#E8E8E8; }
}

#six {
  animation:color6;
  animation-duration:1s;
  animation-delay:2.5s;
}

@keyframes color6 {
  0%   {background-color:#606060; }
  100% {background-color:#E8E8E8; }
}


#seven {
  animation:color7;
  animation-duration:1s;
  animation-delay:3s;
}

@keyframes color7 {
  0%   {background-color:#606060; }
  100% {background-color:#E8E8E8; }
}

#eight {
  animation:color8;
  animation-duration:1s;
  animation-delay:3.5s;
}

@keyframes color8 {
  0%   {background-color:#606060; }
  100% {background-color:#E8E8E8; }
}

#nine {
  animation:color9;
  animation-duration:1s;
  animation-delay:4s;
}

@keyframes color9 {
  0%   {background-color:#606060; }
  100% {background-color:#E8E8E8; }
}


.number {
  color:#606060;
  text-align: center;
}


* {
    box-sizing: border-box;
}


.trigger-dot {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  background: beige;
  border-radius: 50%;
}

.dot {
  margin:10px;
  border-radius:50%;
  width:100px;
  height:100px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:absolute;
  right:0;
  bottom:0;
  overflow:scroll;
  transition:all 2s ease-in-out;
}

.expand {
  width: 50vw;
  height: 100vh;
}

.eclipse {
  border-radius:50%;
  color:#606060;
  width:40vw;
  height:200px;
  border:1px solid #606060;
  margin:auto;
  transform:translateY(140%);
}

.eclipse h1 {
  margin-top:7rem;
  text-align:center;
  font-size:4.5rem;
  font-weight:normal;
}

.eclipse p {
  text-align:center;
  font-size:2rem;
  font-weight:normal;
  margin-top:-2rem;
}

#eclipse2 {
  border-radius:50%;
  color:#606060;
  width:40vw;
  height:200px;
  border:1px solid #606060;
  margin:auto;
  transform:translateY(60%);
  opacity:0.6;
}

#eclipse3 {
  border-radius:50%;
  color:#606060;
  width:40vw;
  height:200px;
  border:1px solid #606060;
  margin:auto;
  transform:translateY(-20%);
  opacity:0.3;
}

#button {
  border-radius:50%;
  padding:18px;
  width:60px;
  height:60px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:fixed;
  bottom:0;
  right:0;
  margin:3rem;
}
  #button a:link {
    color: #606060;
    text-decoration: none;
  }

  #button a:hover {
    text-decoration: none;
    color: black;
  }
  
 #button a:visited {
  color:#606060;
 }

#paragraph p{
  color:#E8E8E8;
  opacity:50%;
  flex-basis:50%;
  font-size:2.2rem;
  margin:auto;
  margin-top:200px;
  width:40vw;
  position:fixed;
  top:0;
  right:2;
  padding:50px;
  padding-left:100px;
  padding-right:0;
}

#paragraph2 p{
  color:#E8E8E8;
  opacity:50%;
  flex-basis:50%;
  font-size:2.2rem;
  margin:auto;
  margin-top:200px;
  width:40vw;
  position:fixed;
  top:0;
  right:1;
  padding:50px;
  padding-left:100px;
  padding-right:0;
}

#paragraph3 p{
  color:#E8E8E8;
  opacity:50%;
  flex-basis:50%;
  font-size:2.2rem;
  margin:auto;
  margin-top:200px;
  width:50vw;
  position:fixed;
  top:0;
  right:1;
  padding:50px;
  padding-left:100px;
}

#paragraph4 p{
  color:#E8E8E8;
  opacity:50%;
  flex-basis:50%;
  font-size:2.2rem;
  margin:auto;
  margin-top:200px;
  width:45vw;
  position:fixed;
  top:0;
  right:1;
  padding:50px;
  padding-left:100px;
}

#paragraph5 p{
  color:#E8E8E8;
  opacity:50%;
  flex-basis:50%;
  font-size:2.2rem;
  margin-top:200px;
  width:40vw;
  position:fixed;
  top:0;
  right:1;
  padding-left:150px;
  padding-top:-40%;
}

#paragraph6 p{
  color:#E8E8E8;
  opacity:50%;
  flex-basis:50%;
  font-size:2.2rem;
  margin-top:200px;
  width:40vw;
  position:fixed;
  top:0;
  right:1;
  padding-left:150px;
  padding-top:-40%;
}

#paragraph7 p{
  color:#E8E8E8;
  opacity:50%;
  flex-basis:50%;
  font-size:2.2rem;
  margin-top:200px;
  width:40vw;
  position:fixed;
  top:0;
  right:1;
  padding-left:150px;
  padding-top:-40%;
}

#paragraph8 p{
  color:#E8E8E8;
  opacity:50%;
  flex-basis:50%;
  font-size:2.2rem;
  margin-top:200px;
  width:40vw;
  position:fixed;
  top:0;
  right:1;
  padding-left:150px;
  padding-top:-40%;
}

#paragraph9 p{
  color:#E8E8E8;
  opacity:50%;
  flex-basis:50%;
  font-size:2.2rem;
  margin-top:200px;
  width:40vw;
  position:fixed;
  top:0;
  right:1;
  padding-left:150px;
  padding-top:-40%;
}

.dot2 {
  margin:10px;
  border-radius:50%;
  width:100px;
  height:100px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:absolute;
  right:0;
  bottom:0;
  overflow:scroll;
  transition:all 2s ease-in-out;
}

.dot3 {
  margin:10px;
  border-radius:50%;
  width:100px;
  height:100px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:absolute;
  right:0;
  bottom:0;
  overflow:scroll;
  transition:all 2s ease-in-out;
}

.dot4 {
  margin:10px;
  border-radius:50%;
  width:100px;
  height:100px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:absolute;
  right:0;
  bottom:0;
  overflow:scroll;
  transition:all 2s ease-in-out;
}


.dot5 {
  margin:10px;
  border-radius:50%;
  width:100px;
  height:100px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:absolute;
  right:0;
  bottom:0;
  overflow:scroll;
  transition:all 2s ease-in-out;
}

.dot6 {
  margin:10px;
  border-radius:50%;
  width:100px;
  height:100px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:absolute;
  right:0;
  bottom:0;
  overflow:scroll;
  transition:all 2s ease-in-out;
}


.dot7 {
  margin:10px;
  border-radius:50%;
  width:100px;
  height:100px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:absolute;
  right:0;
  bottom:0;
  overflow:scroll;
  transition:all 2s ease-in-out;
}

.dot8 {
  margin:10px;
  border-radius:50%;
  width:100px;
  height:100px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:absolute;
  right:0;
  bottom:0;
  overflow:scroll;
  transition:all 2s ease-in-out;
}

.dot9 {
  margin:10px;
  border-radius:50%;
  width:100px;
  height:100px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:absolute;
  right:0;
  bottom:0;
  overflow:scroll;
  transition:all 2s ease-in-out;
}

.expand2 {
  width: 50vw;
  height: 100vh;
}

.expand3 {
  width: 50vw;
  height: 100vh;
}

.expand4 {
  width: 50vw;
  height: 100vh;
}

.expand5 {
  width: 50vw;
  height: 100vh;
}

.expand6 {
  width: 50vw;
  height: 100vh;
}

.expand7 {
  width: 50vw;
  height: 100vh;
}

.expand8 {
  width: 50vw;
  height: 100vh;
}

.expand9 {
  width: 50vw;
  height: 100vh;
}


@media (max-width:767px){
  
  .eclipse {
    width:50%;
    height:100px;
  }
  
  .eclipse h1{
    font-size:1.5rem;
    margin-top:4rem;
  }

   .eclipse p {
  text-align:center;
  font-size:1rem;
  font-weight:normal;
  margin-top:-1rem;
}
  
  #eclipse2 {
    width:50%;
    height:100px;
  }
  
  #eclipse3 {
    width:50%;
    height:100px;
  }

  #button {
  border-radius:50%;
  padding:8px;
  width:40px;
  height:40px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:fixed;
  bottom:0;
  right:0;
  margin:3rem;
}
  
  #container{
    grid-template-columns: repeat(1,10rem);
    grid-template-rows: repeat(9,10rem);
  }

  .number{
    font-size:1rem;
  }

  .dot {
  margin:10px;
  border-radius:50%;
  width:50px;
  height:50px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:absolute;
  right:0;
  bottom:0;
  overflow:scroll;
  transition:all 2s ease-in-out;
}

.dot2 {
  margin:10px;
  border-radius:50%;
  width:50px;
  height:50px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:absolute;
  right:0;
  bottom:0;
  overflow:scroll;
  transition:all 2s ease-in-out;
}

.dot3 {
  margin:10px;
  border-radius:50%;
  width:50px;
  height:50px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:absolute;
  right:0;
  bottom:0;
  overflow:scroll;
  transition:all 2s ease-in-out;
}

.dot4 {
  margin:10px;
  border-radius:50%;
  width:50px;
  height:50px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:absolute;
  right:0;
  bottom:0;
  overflow:scroll;
  transition:all 2s ease-in-out;
}

.dot5 {
  margin:10px;
  border-radius:50%;
  width:50px;
  height:50px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:absolute;
  right:0;
  bottom:0;
  overflow:scroll;
  transition:all 2s ease-in-out;
}

.dot6 {
  margin:10px;
  border-radius:50%;
  width:50px;
  height:50px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:absolute;
  right:0;
  bottom:0;
  overflow:scroll;
  transition:all 2s ease-in-out;
}

.dot7 {
  margin:10px;
  border-radius:50%;
  width:50px;
  height:50px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:absolute;
  right:0;
  bottom:0;
  overflow:scroll;
  transition:all 2s ease-in-out;
}

.dot8 {
  margin:10px;
  border-radius:50%;
  width:50px;
  height:50px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:absolute;
  right:0;
  bottom:0;
  overflow:scroll;
  transition:all 2s ease-in-out;
}

.dot9 {
  margin:10px;
  border-radius:50%;
  width:50px;
  height:50px;
  background-image:radial-gradient(#606060 10%, whitesmoke 80%);
  position:absolute;
  right:0;
  bottom:0;
  overflow:scroll;
  transition:all 2s ease-in-out;
}
  
  #paragraph p{
    font-size:1rem;
    line-height:1rem;
    position:absolute;
    right:15%;
    top:-40%;
    width:80vw;
  }
  
  #paragraph2 p{
    font-size:1rem;
    line-height:1rem;
    position:absolute;
    right:15%;
    top:-40%;
    width:80vw;
  }
  
  #paragraph3 p{
    font-size:1rem;
    line-height:1rem;
    position:absolute;
    right:5%;
    top:-45%;
    width:80vw;
    padding:6rem;
    padding-right:2rem;
  }
 
   #paragraph4 p{
    font-size:1rem;
    line-height:1rem;
    position:absolute;
    right:5%;
    top:-50%;
    padding:6rem;
    padding-right:2rem;
    width:80vw;
  }
  
  #paragraph5 p{
    font-size:1rem;
    line-height:1rem;
    position:absolute;
    right:5%;
    top:-50%;
    padding:6rem;
    padding-right:2rem;
    width:80vw;
  }
  
  #paragraph6 p{
    font-size:1rem;
    line-height:1rem;
    position:absolute;
    right:5%;
    top:-50%;
    padding:6rem;
    padding-right:2rem;
    width:80vw;
  }
  
  #paragraph7 p{
    font-size:1rem;
    line-height:1rem;
    position:absolute;
    right:5%;
    top:-40%;
    padding:6rem;
    padding-right:2rem;
    width:80vw;
  }
  
  #paragraph8 p{
    font-size:1rem;
    line-height:1rem;
    position:absolute;
    right:5%;
    top:-40%;
    padding:6rem;
    padding-right:2rem;
    width:80vw;
  }
  
  #paragraph9 p{
    font-size:1rem;
    line-height:1rem;
    position:absolute;
    right:5%;
    top:-40%;
    padding:6rem;
    padding-right:2rem;
    width:80vw;
  }
  
  .expand {
    width:80vw;
    height:50vh;
  }
  
  .expand2 {
    width:80vw;
    height:50vh;
  }
  
  .expand3 {
    width:80vw;
    height:50vh;
  }
  
  .expand4 {
    width:80vw;
    height:50vh;
  }
  
  .expand5 {
    width:80vw;
    height:50vh;
  }
  
  .expand6 {
    width:80vw;
    height:50vh;
  }
  
  .expand7 {
    width:80vw;
    height:50vh;
  }
  
  .expand8 {
    width:80vw;
    height:50vh;
  }
  
  .expand9 {
    width:80vw;
    height:50vh;
  }
}

@media (min-width:768px)  {
  .eclipse h1{
    font-size:2.8rem;
    margin-top:8rem;
  }

  .eclipse p {
  text-align:center;
  font-size:1.5rem;
  font-weight:normal;
  margin-top:-1rem;
}

  #container{
    grid-template-columns: repeat(3,20rem);
    grid-template-rows: repeat(3,20rem);
  }

  #paragraph p{
    font-size:2rem;
    line-height:2rem;
    position:absolute;
    margin:auto;
    right:12rem;
    top:5rem;
    width:80vw;
  }

  #paragraph2 p{
    font-size:2rem;
    line-height:2rem;
    position:absolute;
    margin:auto;
    right:12rem;
    top:5rem;
    width:80vw;
  }

  #paragraph3 p{
    font-size:1.8rem;
    line-height:1.8rem;
    position:absolute;
    margin:auto;
    right:12rem;
    top:2rem;
    width:80vw;
  }

  #paragraph4 p{
    font-size:1.8rem;
    line-height:1.8rem;
    position:absolute;
    margin:auto;
    right:12rem;
    top:2rem;
    width:80vw;
  }

  #paragraph5 p{
    font-size:1.8rem;
    line-height:1.8rem;
    position:absolute;
    margin:auto;
    right:14rem;
    top:6rem;
    width:80vw;
  }

  #paragraph6 p{
    font-size:1.8rem;
    line-height:1.8rem;
    position:absolute;
    margin:auto;
    right:14rem;
    top:6rem;
    width:80vw;
  }

  #paragraph7 p{
    font-size:1.8rem;
    line-height:1.8rem;
    position:absolute;
    margin:auto;
    right:14rem;
    top:8rem;
    width:80vw;
  }

  #paragraph8 p{
    font-size:1.8rem;
    line-height:1.8rem;
    position:absolute;
    margin:auto;
    right:14rem;
    top:8rem;
    width:80vw;
  }

  #paragraph9 p{
    font-size:1.8rem;
    line-height:1.8rem;
    position:absolute;
    margin:auto;
    right:14rem;
    top:8rem;
    width:80vw;
  }
  
  .expand {
    width:100vw;
    height:50vh;
  }
  
  .expand2 {
    width:100vw;
    height:50vh;
  }
  
  .expand3 {
    width:100vw;
    height:50vh;
  }
  
  .expand4 {
    width:100vw;
    height:50vh;
  }
  
  .expand5 {
    width:100vw;
    height:50vh;
  }
  
  .expand6 {
    width:100vw;
    height:50vh;
  }
  
  .expand7 {
    width:100vw;
    height:50vh;
  }
  
  .expand8 {
    width:100vw;
    height:50vh;
  }
  
  .expand9 {
    width:100vw;
    height:50vh;
  }
}

@media only screen and (min-width: 1200px) {
  
  .eclipse h1{
    font-size:4.5rem;
    margin-top:7rem;
  }

  .eclipse p {
  text-align:center;
  font-size:2rem;
  font-weight:normal;
  margin-top:-2rem;
}

  #container{
    grid-template-columns: repeat(3,30rem);
    grid-template-rows: repeat(3,30rem);
  }

  .expand {
  width: 50vw;
  height: 100vh;
}

.expand2 {
  width: 50vw;
  height: 100vh;
}

.expand3 {
  width: 50vw;
  height: 100vh;
}

.expand4 {
  width: 50vw;
  height: 100vh;
}

.expand5 {
  width: 50vw;
  height: 100vh;
}

.expand6 {
  width: 50vw;
  height: 100vh;
}

.expand7 {
  width: 50vw;
  height: 100vh;
}

.expand8 {
  width: 50vw;
  height: 100vh;
}

.expand9 {
  width: 50vw;
  height: 100vh;
}

#paragraph p{
  color:#E8E8E8;
  opacity:50%;
  flex-basis:50%;
  font-size:2.5rem;
  line-height:2.5rem;
  margin:auto;
  top:20rem;
  width:45vw;
  position:absolute;
  left:5rem;
  padding:50px;
}

#paragraph2 p{
  color:#E8E8E8;
  opacity:50%;
  flex-basis:50%;
  font-size:2.5rem;
  line-height:2.5rem;
  margin:auto;
  top:20rem;
  width:45vw;
  position:absolute;
  left:5rem;
  padding:50px;
}

#paragraph3 p{
  color:#E8E8E8;
  opacity:50%;
  flex-basis:50%;
  font-size:2.3rem;
  line-height:2.3rem;
  margin:auto;
  top:16rem;
  width:45vw;
  position:absolute;
  left:5rem;
  padding:50px;
}

#paragraph4 p{
  color:#E8E8E8;
  opacity:50%;
  flex-basis:50%;
  font-size:2.3rem;
  line-height:2.3rem;
  margin:auto;
  top:16rem;
  width:45vw;
  position:absolute;
  left:5rem;
  padding:50px;
}

#paragraph5 p{
  color:#E8E8E8;
  opacity:50%;
  flex-basis:50%;
  font-size:2.3rem;
  line-height:2.3rem;
  margin:auto;
  top:16rem;
  width:45vw;
  position:absolute;
  left:5rem;
  padding:50px;
}

#paragraph6 p{
  color:#E8E8E8;
  opacity:50%;
  flex-basis:50%;
  font-size:2.3rem;
  line-height:2.3rem;
  margin:auto;
  top:16rem;
  width:45vw;
  position:absolute;
  left:5rem;
  padding:50px;
}

#paragraph7 p{
  color:#E8E8E8;
  opacity:50%;
  flex-basis:50%;
  font-size:2.4rem;
  line-height:2.4rem;
  margin:auto;
  top:16rem;
  width:45vw;
  position:absolute;
  left:5rem;
  padding:50px;
}

#paragraph8 p{
  color:#E8E8E8;
  opacity:50%;
  flex-basis:50%;
  font-size:2.5rem;
  line-height:2.5rem;
  margin:auto;
  top:20rem;
  width:45vw;
  position:absolute;
  left:5rem;
  padding:50px;
}

#paragraph9 p{
  color:#E8E8E8;
  opacity:50%;
  flex-basis:50%;
  font-size:2.5rem;
  line-height:2.5rem;
  margin:auto;
  top:20rem;
  width:45vw;
  position:absolute;
  left:5rem;
  padding:50px;
}

}

