html {
    display: block;
}

body {
    margin-left: 50px;
    margin-right: 50px;
    display:block;
}

#container {
  display: grid;
  grid-template-columns: 50% 50%;
}


.box {
    padding: 2rem;
    text-align: center;
  }

img {
    min-width: 20vw;
    max-width: 20vw;
    height: 400px;
    object-position: center;
}

div {
    display: block;
}

@media only screen and (max-width: 500px){

#container {
   grid-template-columns: 100%;
}

img {
  min-width:50vw;
}

