body {
	background-color:black;
}

h1 {
	color:#BDB76B;
	display: block;
    text-align:center;
    font-size:80px;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

h3 {
	color:#BDB76B;
	display: block;
    text-align:center;
}

summary {
	color:#BDB76B;
	display: block;
    text-align:center;
}

li {
	color:#BDB76B;
	display: block;
    text-align:center;
}

p {
	color:#BDB76B;
	display:block;
	margin:auto;
	margin-right:200px;
	margin-left:200px;
	margin-bottom:50px;
    font-size:20px;
}

iframe {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

  #web-ring {
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 15px;
    background-color: rgb(52, 86, 228);
    border: solid 2px white;
    font-family: sans-serif;
  }

  #web-ring a:link {
    color: white;
    text-decoration: none;
  }

  #web-ring a:hover {
    text-decoration: underline;
  }

  .fireflies {
  	width:400px;
  	height:400px;
  }
   