@font-face {
  font-family:brandon;
  src:url(brandon.otf)
}

body {
	background-color:  #f6e2bb;
    font-family: brandon;
    padding: 2rem;
}

/*.book-container {
	padding: 1rem;
	border: 1px solid black;
	border-radius: 10%;
	width: 15rem;
	grid-template-rows: repeat(9, 10rem);
	grid-template-columns: repeat(12, 10rem);
}*/


#group1 img {
	padding: 0.1rem;
	width: 30%;
	height: 150px;
}

#group1 h2 {
	font-family: futura;
	line-height: -1rem;
	padding-bottom: 1rem;
}

#group1 {
/*    border: 1px solid  #25745a;
*/  border-radius: 5%;
    cursor: pointer;
    /*overflow: scroll;*/
   /* padding: 2rem;*/
}

#group1 p {
	align-items: center;
}


h1 {
	color: #25745a;
	font-size: 3rem;
	padding: 1rem;
}

h3 {
	color: #25745a;
	font-size: 2rem;
	padding: 1rem;
}

h2 {
	color: #25745a;
	font-size: 2.5rem;
}
p {
	color: #25745a;
	font-size: 1.5rem;
	padding: 1rem;
}

img {
	width: 100%;
	height: auto;
}

#group2 {
    font-size: 2rem;
/*    border: 1px solid #25745a;
*/    border-radius: 5%;
    cursor: pointer;
    overflow: scroll;
}

#group3 {
    font-size: 2rem;
/*    border: 1px solid #25745a;
*/    border-radius: 5%;
    cursor: pointer;
    overflow: scroll; 
}

#group4 {
    font-size: 2rem;
    border: 1px solid  #f0ce8e;
    border-radius: 5%;
    cursor: pointer;
	}

#group5 {
    font-size: 2rem;
    /*border: 1px solid #25745a;*/
    border-radius: 5%;
    cursor: pointer;
    overflow: scroll;
}

#group6 {
    font-size: 2rem;
    /*border: 1px solid #25745a;*/
    border-radius: 5%;
    cursor: pointer;
    overflow: scroll;
}

#group7 {
    font-size: 2rem;
    border: 1px solid  #f0ce8e;
    border-radius: 5%;
    cursor: pointer;
    overflow: scroll;
}

#group8 {
    font-size: 2rem;
    /*border: 1px solid #25745a;*/
    border-radius: 5%;
    cursor: pointer;
    overflow: scroll;
}

#group9 {
    font-size: 2rem;
    /*border: 1px solid #25745a;*/
    border-radius: 5%;
    cursor: pointer;
    overflow: scroll;
}

.container {
	display:grid;
	justify-content: center;
	grid-template-columns: repeat(3, 32vw);
	grid-template-rows: repeat(3, 18vw);
	padding: 1rem;
	grid-gap: 1rem;
}

*
{
	margin:0;
	padding:0;
}

#cube .front {
	transform: translateZ(100em);
}

#cube .back {
	transform: rotateX(-180deg) translateZ(100em);
}

#cube .right {
	transform:rotateY(90deg) translateZ(100em);
}

#cube .left {
	transform:rotateY(-90deg) translateZ(100em);
}

#cube .top {
	transform:rotateX(90deg) translateZ(100em);
}

#cube .bottom {
	transform:rotateX(-90deg) translateZ(100em);
}

.container2 {
	/*width: 30vw;
	height: 30vw;*/
	width: 100%;
	height: 100%;
/*	padding: 10rem;

*/	position: sticky;
	left: 0;
	margin-top: 50%;
	margin-left: 50%;
	transform: translate(-35%, -50%);
/*	perspective: 1000px;
*/	perspective-origin: 50% 100%;
	z-index:10;
}

#cube {
	display: block;
	width: 50%;
	height: 50%;
	justify-content: center;
	align-items: center;
	margin: auto;
	transform-style: preserve-3d;
	transition: transform 5s;
}

#cube:hover {
	cursor: pointer;
}

#cube div {
	font-size: 0.5px;
	background:  #f0ce8e;
	display: block;
	position: absolute;
	width: 200em;
	height: 100em;
	border: 2px solid #25745a;
	padding: 50em 0;
}

.dot {
	display: block;
	position: absolute;
	width: 30em;
	height: 30em;
	background: #fff;
	border-radius: 15em;
}

.front .dot1 {
	top: 85em;
	left: 85em;
}

.back .dot1 {
	top: 45em;
	left: 45em;
}

.back .dot2 {
	top: 125em;
	left: 125em;
}

.right .dot1 {
	top: 45em;
	left: 45em;
}

.right .dot2 {
	top: 85em;
	left: 85em;
}

.right .dot3 {
	top: 125em;
	left: 125em;
}

.left .dot1 {
	top: 45em;
	left: 45em;
}

.left .dot2 {
	top: 45em;
	left: 125em;
}

.left .dot3 {
	top: 125em;
	left: 45em;
}

.left .dot4 {
	top: 125em;
	left: 125em;
}

.top .dot1 {
	top: 45em;
	left: 45em;
}

.top .dot2 {
	top: 45em;
	left: 125em;
}

.top .dot3 {
	top: 85em;
	left: 85em;
}

.top .dot4 {
	top: 125em;
	left: 45em;
}

.top .dot5 {
	top: 125em;
	left: 125em;
}

.bottom .dot1 {
	top: 45em;
	left: 45em;
}

.bottom .dot2 {
	top: 45em;
	left: 85em;
}

.bottom .dot3 {
	top: 45em;
	left: 125em;
}

.bottom .dot4 {
	top: 125em;
	left: 45em;
}

.bottom .dot5 {
	top: 125em;
	left: 85em;
}

.bottom .dot6 {
	top: 125em;
	left: 125em;
}

#container3 {
	box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#container3 button {
	border: 1px solid  #f0ce8e;
	color: #25745a;
	background-color:  #f0ce8e
;
	position: relative;
	padding: 1rem;
	font-size: 1.5rem;
	justify-content: center;
}

#container3 h1 {
	padding: 0;
	color: #25745a;
	font-size: 1.5rem;
	text-align: center;
}

details > summary {
	color: #25745a;
  	padding: 0.5rem;
  	background-color:  #f6e2bb;
  	border: 0.1rem solid  #f0ce8e
;
  	cursor: pointer;
}


@media (min-width: 768px) { 
	.small img {
		display: none;
	}
}

@media (max-width:767px) {
	#body {
		padding: 1rem;
	}

	.container {
		display: grid;
		grid-template-columns: repeat(1, 90vw);
		grid-template-rows: repeat(7, 100vw);
	}

	#group1 {
		height: 50vw;
		border: 1px solid #f0ce8e;
		padding: 0.5rem;
	}

	#group1 img{
		height: 100px;
		padding: 0.2rem;
	}

	#group1 h2 {
		font-size: 1.5rem;
		text-align: center;
	}

	#group1 p {
		text-align: left;
		font-size: 0.8rem;
	}

	#group4 {
		border:none;
		position: absolute;
		top: 40vw;
		left: -20vw;
		width: 120vw;
		height: 75vw;
	}


	#group7 {
		border: none;
		position: absolute;
		top: 40vw;
		right: 0vw;
		width: 50vw;
		height: 100vw;
		z-index:30;
	}

	#group2 {
		z-index:40;

	}

	.big img {
		display: none;
	}

	.container2 {
	margin-top: 50%;
	margin-left: 50%;
	transform: translate(-50%, -40%);
	z-index: 30;
	overflow: visible;
}

	#container3 button {
	padding: 0.5rem;
	position: absolute;
	float: right;
	right: 2rem;
	top: 8.5rem;
}

	#container3 h1 {
	position: absolute;
	float: right;
	right: 2rem;
	color: #25745a;
	font-size: 1rem;
	top: 12rem;
}

	h1 {
		font-size: 2rem;
		padding: 0.5rem;
	}

	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.5rem;
		padding: 0.5rem;
	}
	p {
		font-size: 1rem;
		padding: 0.5rem;
	}

	img {
		padding: 0.5rem;
	}

	.small {
		width: 95%;
	}

}
